---
Checks: >-
  bugprone-*,
  clang-analyzer-*,
  cert-c*,
  cert-err*,
  cert-flp*,
  cert-msc*,
  cert-pos*,
  cert-str*,
  misc-*,
  readability-*,
  -bugprone-easily-swappable-parameters,
  -misc-include-cleaner,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-magic-numbers
WarningsAsErrors: '*'
HeaderFilterRegex: ''
